.page {
  max-width: 320px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.page__header {
  min-height: 65px;
}

.page__main {

}

.page__footer {
  min-height: 236px;
}
