.goal {
  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

.goal__title {
  margin-bottom: 20px;
}

.goal__description {
  padding-bottom: 25px;
  border-bottom: 1px solid #222222;

  margin-bottom: 25px;
}

.goal__filter {
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .goal__description {
    border-bottom: none;
  }

  .goal__filter {
    margin-bottom: 65px;
  }
}

@media (min-width: @desktop-width) {
  .goal {
    /*width: 470px;
    height: 270px;*/
  }
}
