.goal {
  display: flex;
  flex-direction: column;
}

.goal__title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: normal;

  text-transform: uppercase;
}

.goal__description {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  color: #282828;
}

.goal__filter {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;

  text-transform: uppercase;
  color: #111111;

  text-decoration: none;

  padding-bottom: 10px;
}
