.example {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;

  margin-bottom: 40px;
}

.example__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-size: 36px;
  font-weight: 400;
}

.example__description {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 1.5;
  font-family: "Arial", "Arial", sans-serif;
  font-weight: 400;
  color: #282828;
}

.example__stats--value {
  font-size: 24px;
  font-weight: 400;
}

.example__stats--key {
  font-size: 12px;
  font-family: "Arial", "Arial", sans-serif;
}

.example__cost {
  margin-bottom: 20px;

  text-align: center;
}

.example__button-before,
.example__button-after {
  border: none;
  background-color: transparent;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
}
