.text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
}

.text--arial {
  font-family: "Arial", "Tahoma", sans-serif;
}

.text--line-height15 {
  line-height: 1.5;
}

.text--upper {
  text-transform: uppercase;
}

.text--gray1 {
  color: #111111;
}

.text--gray2 {
  color: #222222;
}

.text--gray28 {
  color: #282828;
}

.text--gray4 {
  color: #444444;
}

.text--size36 {
  font-size: 36px;
}

.text--size24 {
  font-size: 24px;
}

.text--size16 {
  font-size: 16px;
}

.text--size14 {
  font-size: 14px;
}

.text--size12 {
  font-size: 12px;
}

.text--bold {
  font-weight: 700;
}

