@import "page/page.less";
@import "page-header/page-header.less";
@import "main-nav/main-nav.less";
@import "site-list/site-list.less";
@import "programm/programm.less";
@import "page-main/page-main.less";
@import "goals/goals.less";
@import "goal/goal.less";
@import "features/features.less";
@import "feature/feature.less";
@import "example/example.less";
@import "contacts/contacts.less";
@import "main-footer/main-footer.less";
@import "social/social.less";
@import "copyright/copyright.less";
@import "page-inner/page-inner.less";
@import "main-header/main-header.less";
@import "catalog/catalog.less";
@import "product/product.less";

body {
  background: rgba(255, 255, 255, 1);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 0;
  margin: 0;

  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: auto;
  padding-right: auto;

  width: 100%;

  text-align: center;

  background-color: #68b738;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
  color: #ffffff;

  text-transform: uppercase;
}
