.main-header {
  min-height: 65px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-header__toggle-menu {
  width: 24px;
  height: 18px;

  margin-left: auto;

  border: none;

  background-color: transparent;
  background-image: url("/img/icon-mobile-menu.svg");
}

.main-header__navigation {
  display: none;
}

.main-header__logo-image {
  height: 38px;
}

@media (min-width: @tablet-width) {
  .main-header__logo-image {
    height: 58px;
  }

  .main-header__navigation {
    display: block;

    margin-left: auto;
  }

  .main-header__toggle-menu {
    display: none;
  }
}
