.goals__item {
  padding: 10px 25px 0 20px;

  margin: 0 0 20px;
}

@media (min-width: @tablet-width) {
  .goals__item {
    padding: 80px 285px 0 53px;

    margin: 0 0 30px;
  }

  .goals__list li:first-child {
    background: url("/img/icon-cat-slim.svg") no-repeat, #f2f2f2;
    background-size: 140px 194px;
    background-position-x: 540px;
    background-position-y: 80px;
  }

  .goals__list li:last-child {
    background: url("/img/icon-cat-pro.svg") no-repeat, #f2f2f2;
    background-size: 268px 112px;
    background-position-x: 440px;
    background-position-y: 140px;
  }
}

@media (min-width: @desktop-width) {
  .goals__item {
    padding: 80px 50px 35px;

    margin: 0 0 30px;
  }

  .goals__list {
    display: flex;
    justify-content: space-between;
  }
}
